@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    rgb(255, 255, 255) 60%
  );

  --obscure: "#1E1613";
  --blank: "#D9D9D9";
  --blank-dark: "#9CA2C3";
  --blank-light: "#CFDCE7";
  --first: "#3085B1";
  --second: "#CF9065";
  --second-dark: "#63815E";
  --second-light: "#CA8589";

  --scroll-bg: #54586b;
  --scroll-bar: #252238;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  transition: all 1s ease-out;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: var(--scroll-bar);
  border-radius: 5px;
  border: 2px solid var(--scroll-bg);
}

html::-webkit-scrollbar-track {
  background-color: var(--scroll-bg);
}

html::-webkit-scrollbar-button:vertical {
  background-color: var(--scroll-bg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
}

html::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,165.66a8,8,0,0,1-11.32,0L128,91.31,53.66,165.66a8,8,0,0,1-11.32-11.32l80-80a8,8,0,0,1,11.32,0l80,80A8,8,0,0,1,213.66,165.66Z'%3E%3C/path%3E%3C/svg%3E");
}

html::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
}

html::-webkit-scrollbar-button:hover {
  background-color: #999999;
}

h1,
h2 {
  text-align: center;
}

.frontend {
  animation: subtitle-animation infinite 2.5s ease;
  /* animation: text-animation 10 alternate 5s ease-out; */

  /* transition: background-color 1s ease; */
}

@keyframes subtitle-animation {
  0% {
    background: linear-gradient(#cfdce7 20%, #9ca2c3 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: linear-gradient(#9ca2c3 90%, #cbc5b6 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(#cbc5b6 40%, #c48153 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(#c48153 40%, #c37376 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(#c37376 20%, #9a0d2c 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  60% {
    background: linear-gradient(#ca8589 40%, #5677a1 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(#5677a1 40%, #516e56 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  90% {
    background: linear-gradient(#516e56 40%, #94a9c7 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(#94a9c7 30%, #cbc5b6 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* @keyframes text-animation {
  0% {
    color: #cbc5b6;
  }
  5% {
    color: #ca9b81;
  }
  10% {
    color: #cf9065;
  }
  15% {
    color: #c48153;
  }
  20% {
    color: #ca8589;
  }
  25% {
    color: #c37376;
  }
  30% {
    color: #672130;
  }
  35% {
    color: #632f46;
  }
  40% {
    color: #1e3f7b;
  }
  45% {
    color: #3a5a8c;
  }
  50% {
    color: #5677a1;
  }
  55% {
    color: #94a9c7;
  }
  60% {
    color: #54586b;
  }
  65% {
    color: #516e56;
  }
  70% {
    color: #63815e;
  }
  75% {
    color: #1e3f7b;
  }
  80% {
    color: #1e3f7b;
  }
  85% {
    color: #3a5a8c;
  }
  90% {
    color: #5677a1;
  }
  90% {
    color: #94a9c7;
  }
  100% {
    color: #cfdce7;
  }
} */
