---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { Contact } from "../components/Contact";
import { HeroSection } from "../components/HeroSection";
import { Experience } from "../components/Experience";
---

<BaseLayout>
  <HeroSection client:idle lang="es" />
  <Experience client:idle lang="es" />
  <!-- <section class="min-h-dvh flex flex-col justify-center py-5 gap-20">
    <h2
      class="text-center text-blank-light font-bold text-[36px] md:text-[40px] lg:text-[48px]"
    >
      My experience
    </h2>
    <ul class="w-full flex flex-col gap-20 font-sans">
      <Projects client:idle />
    </ul>
  </section> -->
  <section
    class="min-h-dvh flex flex-col justify-center items-center gap-16 pt-[96px] md:pt-[106px]"
  >
    <h2
      class="text-center text-blank-light font-bold text-[20px] md:text-[24px]"
    >
      I am looking for new opportunities
    </h2>
    <Contact />
  </section>
</BaseLayout>
