---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

import { Header } from "../components/Header";
import { Contact } from "../components/Contact";
import { HeroSection } from "../components/HeroSection";
import { Experience } from "../components/Experience";
import { Collaborations } from "../components/Collaborations";
import { CaseStudy } from "../components/CaseStudy";
import { Footer } from "../components/Footer";
---

<Header lang="en" />

<BaseLayout>
  <HeroSection client:idle lang="es" />
  <Experience client:idle lang="es" />
  <Collaborations client:only lang="es" />
  <CaseStudy client:idle lang="es" />
  <Contact client:idle lang="es" />

  <!-- <section class="min-h-dvh flex flex-col justify-center py-5 gap-20">
    <h2
      class="text-center text-blank-light font-bold text-[36px] md:text-[40px] lg:text-[48px]"
    >
      My experience
    </h2>
    <ul class="w-full flex flex-col gap-20 font-sans">
      <Projects client:idle />
    </ul>
  </section> -->
  <!-- <section
    class="min-h-dvh flex flex-col justify-center items-center gap-16 pt-[96px] md:pt-[106px]"
  >
    <h2
      class="text-center text-blank-light font-bold text-[20px] md:text-[24px]"
    >
      I am looking for new opportunities
    </h2>
  </section> -->
</BaseLayout>
<Footer lang="es" />
