---
// import Footer from "../components/Footer.astro";
import { Header } from "../components/Header";
import { Footer } from "../components/Footer";
import "../styles/global.css";

const { frontmatter } = Astro.props;
// const childrenHeader = frontmatter.children;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Roseny</title>

    <meta
      name="description"
      content=" Frontend Developer in constant growth, with a strong foundation in HTML, CSS, and JavaScript."
    />
    <meta
      name="keywords"
      content="roseny, rosenyquintanilla, roseny frontend, frontend, frontend roseny, roseny quintanilla, roseny.dev, roseny dev, dev roseny"
    />
    <meta name="author" content="Roseny" />

    <!-- Open Graph for social medias (Facebook, LinkedIn, etc.) -->
    <meta property="og:site_name" content="Roseny Developer" />
    <meta property="og:title" content="Roseny" />
    <meta
      property="og:description"
      content="Frontend Developer in constant growth, with a strong foundation in HTML, CSS, and JavaScript."
    />
    <!-- itemprop="image" -->
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <!-- <meta property="og:image:type" content="image/png" /> -->
    <!-- <meta property="og:image:width" content="300" /> -->
    <!-- <meta property="og:image:height" content="300" /> -->
    <!-- <meta property="og:card" content="summary_large_image" /> -->
    <meta property="og:url" content="https://roseny.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="1440432930" />

    <!-- Twitter Cards (Optimize fot Twitter) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Roseny" />
    <meta
      name="twitter:description"
      content="Frontend Developer in constant growth, with a strong foundation in HTML, CSS, and JavaScript."
    />
    <meta name="twitter:image" content="/android-chrome-512x512.png" />
    <meta name="twitter:site" content="@roseny" />
  </head>
  <body
    id="body-element"
    class="w-full h-full min-h-[100vh] p-4 flex flex-col transition-colors text-blank font-raleway bg-obscure text-xl md:text-2xl"
  >
    <Header />
    <main
      class="w-full max-w-[1000px] h-full min-h-[86dvh] mx-auto flex-1 flex flex-col"
    >
      <slot />
    </main>
    <Footer />
    <!-- <footer
      class="w-full flex gap-2 items-center justify-center p-2 text-xs md:text-sm"
    >
      2025 Roseny. Ⓒ
      <p class="flex items-center gap-3">All rights reserved</p>
    </footer> -->
  </body>
</html>
